
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100%;
    font-family: 'Inter', sans-serif;
    color: white;
}

.wrapper {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(97, 194, 214);
    background: linear-gradient(180deg, rgba(97, 194, 214, 1) 50%, rgba(19, 126, 148, 1) 100%);
}

.container {
    width: 100%;
    height:100%;
    display: grid;
}

.main{
    grid-column-start: 1;
    grid-column-end: 8;
    display: grid;
        padding: 60px 100px 60px 100px;
}

.right-bar {
    grid-column-start: 8;
    grid-column-end: 12;
    padding: 80px 100px 80px 100px;
    display: grid;
    background: rgb(103, 127, 221);
    background: linear-gradient(180deg, rgba(103, 127, 221, 1) 38%, rgba(0, 45, 55, 1) 100%);
    color: rgb(223, 223, 223) !important;
    font-weight: 500;

}

.logo{
    grid-row-start: 1;
    grid-row-end: 2;
  
}

.info {
    grid-row-start: 9;
    grid-row-end: 12;
    display: grid;
    align-items: center;
}

.title{
    grid-column-start: 1;
        grid-column-end: 2;
        font-size: 6rem;
        color: white;
}

.city{
    grid-column-start: 2;
    grid-column-end: 3;
}

.city_cloud {
    grid-column-start: 3;
    grid-column-end: 4;
}

.city_date{
    display: flex;
    flex-direction: row;
    font-weight: 500;
}

.search{
    grid-row-start: 1;
    grid-row-end: 2;
}

.city_list{
    grid-row-start: 2;
    grid-row-end: 6;
    display: grid;
    border-bottom: 1px solid rgb(207, 207, 207);
}

.weather_detail{
    grid-row-start: 7;
    grid-row-end: 12;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0 0 40px 0;
    border-bottom: 1px solid rgb(207, 207, 207);
}

.weather_detail_list{
    display: flex;
    flex-direction: column;
    height: 80%;
    justify-content: space-between;
}

.weather_detail_item{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

::placeholder{
    color: white;
    opacity: 0.7;
}

.search_button{
    background-color: rgb(171, 171, 255);
    position: absolute;
    top: 0;
    right: 0;
    padding: 30px;
    cursor: pointer;
}

/* media queries */

@media screen and (max-width: 1200px) {
    .main {
            grid-column-start: 1;
            grid-column-end: 12;
            width: 100%;
            padding: 60px 80px 60px 80px;
        }
    
        .right-bar {
            grid-column-start: 1;
            grid-column-end: 12;
            width: 100%;
            position: relative;
            padding: 60px 80px 60px 80px;
                        
        }

                .weather_detail {
                    padding: 20px 0 20px 0;
                }

                .weather_detail_list{
                    padding-top: 10px;
                }

                .font{
                    font-size: 0.9rem;
                }

                                .city_list{
                                    padding: 20px 0 20px 0;
                                }   
}

@media screen and (max-width: 640px) {
   
    .container{
        display: flex;
        flex-direction: column;
        height: 100vh;
    }

    .main{
        height: 40%;
                padding: 40px 40px 40px 40px;
                
    }
    .right-bar{
        height: 60%;
        padding: 40px 40px 40px 40px;
    }
    .info {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .search_button{
        padding: 10px;
    }
}